*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    background-color:#666699;
    
}
body{
    display: flex;
 
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*min-height: 8vh;*/
    height:100px;
    background-color:#666699;
    position:fixed;
    width:100%;
}

.navMenu{
    color:#E2F5F2;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    

}
.navLinks{
    display: flex;
    justify-content: space-between;
    width:35%;
    

}
.navTitle img{
    max-width: 200px;
    max-height: 30%;
    margin-top: 10px;

}

.navLinks a{
    text-decoration: none;
    color:#E2F5F2;
    transition: .4s;
    letter-spacing: 2px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    
    

}
.navLinks li{
    list-style: none;
    
}
.navLinks a:hover{
    color: #2D3433;
    border-bottom: 3px solid #2D3433;

    
}
.menuBurger{
    display: none;
    cursor: pointer;
    
}


.menuBurger div{
    width: 25px;
    height:2px;
    background-color:#E2F5F2;
    margin:5px;
    transition:0.3 ease;

}


/*mainpage styling*/
.mainPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:100px;
    left:0px;
    
}
.mainPage_left{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 120px;
}

.titleLogo{
    display: flex;
    color: #E2F5F2;
    font-size: 25px; 


}
.mainDescription{
    
    margin-top: 30px;
    max-width: 700px;
    color:#EDE7F6;
}
.mainImage{
    margin-top: 80px;
    max-width: 80px;
}
.mainImage img{
    max-width: 700px;
    
}










@media screen and (max-width:1024px){
    .navLinks{
        width:60%
    }
}


/*moble css, small screen*/
@media screen and (max-width:700px){
    .body{
        overflow-x:hidden;
    }
    .navLinks{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color:#62A199;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: space-evenly;
        width:50%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .navLinks li{
        opacity: 1;
    }
    .menuBurger{
        display: block;
        

    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity:0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
    
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
}