*{
    margin:0px;
    padding:0px;
}
body{
    font-family: "Lato", sans-serif;

}
.menu_banner{
    display: flex;
    justify-content: space-between;
    background-color:white;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.menu_items{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding:15px;
    
}
.menu_items a{
    color:black;
    text-decoration: none;
    padding:20px;
    font-size: 25px;
    transition: .5s;
    
}
a:hover{
    color:blue;
    transform: scale(1.2);
}


img{
    height:auto;
    width: 200px;
    
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 1000px;
    position: relative;
}

.carousel .carousel_item{
    display: none;
    width:100%;
}
.carousel .carousel_item.fade{
    animation: fade 0.5s cubic-bezier(0.5,0.085,0.68,0.53) both;
}

.carousel .carousel_item img{
    width: 100%;
}

