*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --nav-background-color:#434343;
    --header-text-color:#ffffff;
    --header-onhover-color:#379DF4;
    --header-font-size:18px;
    --links-font-size:16px;
    font-family:'Oswald', sans-serif;
 }

.main-text{
    display: flex;
    flex-direction: column;
    padding:150px;
}
.main-title{
    padding:10px;
}

.main-text button{
   width:30%;
   display: inline;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   color:white;
   border:2px white solid;
   border-radius: 5px;
   text-transform: uppercase;
   font-size: 30px;
   cursor: pointer;
   transition: .3s;
   text-align: center;
}
.main-text button:hover{
    background-color: var(--header-onhover-color);
    
}